footer{
    
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(186, 186, 186)
}

.icon{

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2px; */
    padding: 5px;
    margin-top: 5px;
    gap: 30px;
}
footer > p {

    padding: 5px;
    color: aliceblue;
}