header{
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 20px;
    color: aliceblue;
    font-size: 1,8vh;
    background-color: #646162;

}

nav{
    width: 80vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 10px;
        
}

ul li{

    padding: 5px;
    margin-left: 50px;
    transition: all 1s;
}


nav li:hover {
    color: #646162;
    background-color: rgb(255, 255, 255);
    


}