main{
    height: 100%;
    display: flex;
   
   
}

main h1{

    font-size: 64px;
    font-weight: 600;
    text-transform: uppercase;
}

main p{
    width: 800px;
    font-size: 24px;

    
}
.sapato-sub01{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.section01{
    width: 800px;
    display: flex;
    gap: 20px;
    

}

.texto{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sapato-sub02{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section02{

    display: flex;

}
